@import './../../styles/partials/mixins';

.login-terminal {

    position: relative;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5rem;
    background-color: #000;
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    width: 75vw;
    height: 35vh;
    margin: 1rem 0rem;
    margin-top: 3rem;
    /* margin-top: 50px; */
    overflow: hidden;
    // background: url('./../../assets/noise/old-tv-glitch-vhs-rewind-fuzzy-grain-mov-1854328-high_0014.avif') center center no-repeat;
    // background: url('./../../assets/noise/bad-tracking-vhs-noise-footage-096624524_iconl.webp') center center no-repeat rgba(0, 0, 0, 0.891);
    background-size: cover;
    border: 5px dashed rgba(83, 0, 128, 0.583);

   

  @include tablet {
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
    background-color: #000;
    color: #fff;
    padding: 16px;
    border-radius: 8px;
    width: 30vw;
    height: 60vh;
    margin: 1rem;
    /* margin-top: 50px; */
    overflow: hidden;

    position: absolute; // Set the position of the terminal to absolute
    top: 50%;           // Adjust top position as needed
    left: 50%;          // Adjust left position as needed
    transform: translate(-50%, -50%); // Center the terminal
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
  }

  &__title {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 2px dotted #ffffff6b;
    margin: 0rem 5rem;
  }

  &__inputs-container {
    display: flex;
    flex-direction: column;
    /* align-items: self-start; */
    gap: 5rem;
    padding: 0rem 2rem
  }

  &__input-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    border-bottom: 2px dotted rgba(255, 255, 255, 0.4196078431);
    overflow: hidden;
  }

  &__prompt {
    color: green;
    margin-right: 8px;
    font-size: 24px;
  }

  &__input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    width: 100%;
    overflow: hidden;
  }

}
  
  
//   .
  
//   .output {
//     color: #fff;
//   }
