@import './../../styles/partials/colors';
@import './../../styles/partials/mixins';


.favourites-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('./../../assets/noise/vintage-black-white-noise-texture-abstract-splattered-background-vignette_488220-477.avif') center center no-repeat;
    background-size: cover;

}