// @use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
// @use "../../styles/partials/typography" as *;
@use "../../styles/partials/breakpoints" as *;

.item-modal {
    font-family: "Courier New", Courier, monospace;

    // width: 100%;
    // height: 100%;
    // padding: 1rem;
    // display: flex;
    // background: url('./../../assets/noise/Standard_Scientific_Camera_Starfield_450.jpg') center center no-repeat rgba(0, 0, 0, 0.891);
    
    @include tablet {
        // width: 50rem;
        // height: 30rem;
        // margin-right: 10rem;
        // margin-left: 10rem;
        // margin-top: 11rem;
    }

    @include desktop {
        // width: 60rem;
        // height: 30rem;
        // margin-right: 10rem;
        // margin-left: 15rem;
        // margin-top: 11rem;
    }

    &__overlay {

        display: none;

        @include tablet {


        }

    }

    
    
  
    &__content {

        // position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
        // bottom: 0;
        // border: none;
        // background: none;
        // display: flex;
        // align-items: flex-start;
        // justify-content: center;
        // background: #fff;
        // border-radius: 0.25rem;
        

    }

    &__close-btn {

        width: 2rem;
        cursor: pointer;
        background: none;
        border: none;
        font-size: 24px;
        color: red;

    }

    &__close-button-box {
        display: flex;
        justify-content: flex-end;
    }

    &__content-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        font-size: 24px;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: 12rem;
    }

    &__img {
        max-height: 350px;
        max-width: 300px;
        border: 2px dotted white;
        padding: 1rem;
    }

    &__info-container {
        border: 2px dotted white;
        background: rgba(11, 43, 24, 0.84);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1rem 2rem;
    }

    &__title {

        @include tablet {
    
            font-size: 1.5rem;

        }

        @include desktop {
            font-size: 2rem;
        }
    }

    &__message {

        padding-top: 1rem;

        @include tablet {
            padding-top: 1rem;
            padding-right: 2rem;
        }

    }

    &__message-link {
        font-size: 20px;

        padding-top: 1rem;

        @include tablet {
            padding-top: 1rem;
            padding-right: 2rem;
        }
    }

    &__button-box {
        height: 70.5vh;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        @include tablet {
            height: 4vh;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 1rem;
            padding-right: 2rem;
            padding-top: 1rem;
        }

    }

    &__button-cancel {
        width: 47%;
        border-radius: 1rem;
        border: none;
        height: 2rem;

        @include tablet {
            width: 14%;
        }

    }

    &__button-delete {
        
        color: white;
        background-color: black;
        width: 47%;
        border-radius: 1rem;
        border: none;
        height: 2rem;
        font-size: 1rem;

        @include tablet {
            
            width: 14%;
            height: 3rem;
            
        }

    }

}

a {
    text-decoration: none;
    color: green;
}
