@import './../../styles/partials/mixins';

.results {

    position: relative; // Add position relative for positioning context
    font-family: "Courier New", Courier, monospace;
    background-color: #000;
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    width: 75vw;
    height: 65vh;
    /* margin: 1rem; */
    overflow: hidden;

    background: url('./../../assets/noise/Standard_Scientific_Camera_Starfield_450.jpg') center center no-repeat rgba(0, 0, 0, 0.891);
    // background: url('./../../assets/noise/old-tv-glitch-vhs-rewind-fuzzy-grain-mov-1854328-high_0014.avif') center center no-repeat;
    background-size: cover;
    margin-bottom: 3rem;
    
    @include tablet { 
        font-family: "Courier New", Courier, monospace;
        background-color: #000;
        color: #fff;
        padding: 1rem;
        border-radius: 8px;
        width: 50vw;
        height: 100vh;
        margin: 2rem;
        /* margin-top: 50px; */
        overflow: hidden;
    }

    &__item-box {
        max-height: calc(100% - 40px);
        margin-bottom: 16px;
        overflow: auto; /* Add this line to add a scrollbar when content exceeds max-height */
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;  // Add this to vertically center the content
        padding: 1rem;
        // border: 2px dotted #fff;
        &:hover{
            background-color: rgba(0, 128, 0, 0.227);
        } 
    }

    &__item-img {
        max-width: 130px;
        height: 200px;
        border: 3px dotted white;
    }

    &__item-title {
        color: green;
        font-size: 24px;   
        list-style-type: '$';
    }

    &__item-info {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        list-style-type: none;
    }

  }
  
//   .input-container {
//     display: flex;
//     border-bottom: 1px dashed green;
//   }
  
//   .prompt {
//     color: #00ff00;
//     margin-right: 8px;
//     font-size: 36px;
//   }
  
//   input {
//     flex: 1;
//     background-color: transparent;
//     border: none;
//     outline: none;
//     color: #fff;
//     font-family: 'Courier New', Courier, monospace;
//   }
  
//   .input {
//     color: #00ff00;
//   }
  
//   .output {
//     color: #fff;
//   }