@import './../../styles/partials/colors';
@import './../../styles/partials/mixins';

@keyframes slowFlash {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.header {

    display: flex;
    padding: 1rem;
    padding-bottom: 3rem;
    flex-direction: column;
    align-items: center;
    position: relative;

    font-family: "Courier New", Courier, monospace;
    
    background: linear-gradient(to bottom, rgba(58, 0, 128, 0), rgb(0, 0, 0)), url(/src/assets/noise/360_F_393065300_z0GbhH3qSS6kNIJoHRaA3BR4RfbutAyi.webp) center center no-repeat;
    background-size: cover;
    background-color: #232940;


    @include tablet {
        flex-direction: row;
        padding: 1.5rem 2rem;
        justify-content: space-between;
    }

    &__canvas {
        position: relative;
        z-index: 1;
    }

    @include desktop {

    }

    &__logo-container {
        padding: 0.5rem 0.5rem;
        padding-bottom: 1rem; 
        position: absolute;  
        z-index: 2;
    }

    &__logo {
        height: 1.75rem;
        width: 8.03688rem;
        margin-top: 3rem;

        @include tablet {
            margin-top: 0rem;
            margin-left: 5rem;
        }
        
    }


    &__pages {

        display: flex;
        justify-content: space-between;
        width: 100%;
        // width: 20rem;

        @include tablet {
            justify-content: flex-end;
            padding: 0rem;
            gap: 5rem;
            padding-top: 6rem;
            font-size: 24px;
        }

    }


    &__pages-name-home {

        border-radius: 1rem;
        display: flex;
        justify-content: center;
        color: $oultines;
        align-items: center;
        width: 10.25rem;
        height: 2.25rem;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: $white;
        }

        @include tablet {
            width: 6.6875rem;
            height: 2.375rem;
        }

        &--active {
            color: $white;

            &:before {
                content: ">";
                position: absolute;
                top: 74%;
                right: 31.5rem;
                transform: translateY(-50%);
                animation: slowFlash 2s infinite;
                
              }

        }
    }

    &__pages-name-favourites {

        border-radius: 1rem;
        display: flex;
        justify-content: center;
        color: $oultines;
        align-items: center;
        width: 10.25rem;
        height: 2.25rem;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: $white;
        }

        @include tablet {
            width: 6.6875rem;
            height: 2.375rem;
        }

        &--active {
            color: $white;

            &:before {

                content: ">";
                position: absolute;
                top: 74%;
                right: 22.5rem;
                transform: translateY(-50%);
                animation: slowFlash 2s infinite;
                
              }

        }
    }

    &__pages-name-user {

        border-radius: 1rem;
        display: flex;
        justify-content: center;
        color: $oultines;
        align-items: center;
        width: 10.25rem;
        height: 2.25rem;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: $white;
        }

        @include tablet {
            width: 6.6875rem;
            height: 2.375rem;
        }

        &--active {
            color: $white;

            &:before {

                content: ">";
                position: absolute;
                top: 74%;
                right: 22.5rem;
                transform: translateY(-50%);
                animation: slowFlash 2s infinite;
                
              }

        }
    }

}