@import './../../styles/partials/mixins';

.search {

    position: relative;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5rem;
    background-color: #000;
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    width: 75vw;
    height: 35vh;
    margin: 1rem 0rem;
    margin-top: 3rem;
    /* margin-top: 50px; */
    overflow: hidden;
    // background: url('./../../assets/noise/old-tv-glitch-vhs-rewind-fuzzy-grain-mov-1854328-high_0014.avif') center center no-repeat;
    // background: url('./../../assets/noise/bad-tracking-vhs-noise-footage-096624524_iconl.webp') center center no-repeat rgba(0, 0, 0, 0.891);
    background-size: cover;
    border: 5px dashed rgb(83 0 128 / 43%);

   

  @include tablet {
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
    background-color: #000;
    color: #fff;
    padding: 16px;
    border-radius: 8px;
    width: 30vw;
    height: 60vh;
    margin: 1rem;
    /* margin-top: 50px; */
    overflow: hidden;
  }

}
  
  .output {
    max-height: calc(100% - 40px);
    margin-bottom: 16px;
    overflow: auto; /* Add this line to add a scrollbar when content exceeds max-height */
    font-size: 1.5rem;
  }
  
  .input-container {
    display: flex;
  }
  
  .prompt {
    color: green;
    margin-right: 8px;
    font-size: 32px;

    @include desktop {
      font-size: 40px;
    }
  }
  
  input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    overflow: hidden;
  }
  
  .input {
    color: green;
  }
  
  .output {
    color: #fff;
  }
